@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
  --selected-color: #d9ce3f;
  --occupied-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  background: #242333;
  color: #fff;
}

.seat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 0.5rem 1.5rem;
  background: #201f2e;
  border-radius: 5px;
}

.seat-info li:not(:last-child) {
  margin-right: 1rem;
}

.seat-info li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 200px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
}

.row {
  display: flex;
}

.row .seat:nth-child(3),
.row .seat:nth-child(7) {
  margin-left: 1rem;
}

.row .seat:not(.occupied) {
  cursor: pointer;
}

.row .seat:not(.occupied):hover {
  transform: scale(1.2, 1.2);
}

.seat {
  display: inline-block;
  width: 15px;
  height: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #444451;
  margin: 3px;
}

.selected {
  background: var(--selected-color);
}

.occupied {
  background: var(--occupied-color);
}

#seat-count,
#price {
  color: var(--selected-color);
}
