.container {
  text-align: center;
  margin-top: 8rem;
}

a {
  text-decoration: none;
}

input,
button {
  width: 30rem;
}

#todos {
  margin-top: 2rem;
}

li {
  list-style: none;
}

.todo-list {
  cursor: pointer;
}

.todo-delete {
  cursor: default;
  color: #ccc;
  text-decoration: line-through;
}
